In [3]:

# Please follow the challenge instructions and enter your code below to be evaluated...

# import necessary packages/libraries
import pandas as pd

# open your file here
file_to_open = "https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-analytics-bootcamp/nyc_baby_names.csv"

# read and load your file into a Pandas dataframe
df = pd.read_csv(file_to_open)

# print out the general information of the dataframe
print(df.info())

# print out the header of the dataframe
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11345 entries, 0 to 11344
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year of Birth         11345 non-null  int64
 1   Gender                11345 non-null  object
 2   Ethnicity             11345 non-null  object
 3   Child's First Name    11345 non-null  object
 4   Count                 11345 non-null  int64
 5   Rank                  11345 non-null  int64
 6   Gender.1              11345 non-null  object
 7   Ethnicity.1           11345 non-null  object
 8   Child's First Name.1  11345 non-null  object
 9   Sub1                  11345 non-null  object
 10  Sub2                  11345 non-null  object
 11  Unnamed: 11           0 non-null      float64
dtypes: float64(1), int64(3), object(8)
memory usage: 1.0+ MB
None
   Year of Birth  Gender  ...                        Sub2 Unnamed: 11
0           2011  FEMALE  ...  Asian And Pacific Islander         NaN
1           2011  FEMALE  ...  Asian And Pacific Islander         NaN
2           2011  FEMALE  ...  Asian And Pacific Islander         NaN
3           2011  FEMALE  ...  Asian And Pacific Islander         NaN
4           2011  FEMALE  ...  Asian And Pacific Islander         NaN

[5 rows x 12 columns]

In [1]:
# import necessary packages/libraries
import pandas as pd

# open your file here
file_to_open = "https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-analytics-bootcamp/tweets.json"

# read and load your file into a Pandas dataframe
df = pd.read_json(file_to_open)

# print out the general information of the dataframe
print(df.info())

# print out the header of the dataframe
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1018 entries, 0 to 1017
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         1018 non-null   int64
 1   entities                   1018 non-null   object
 2   is_quote_status            1018 non-null   bool
 3   text                       1018 non-null   object
 4   favorited                  1018 non-null   bool
 5   source                     1018 non-null   object
 6   truncated                  1018 non-null   bool
 7   created_at                 1018 non-null   datetime64[ns, UTC]
 8   user                       1018 non-null   object
 9   geo                        3 non-null      object
 10  in_reply_to_user_id_str    1 non-null      float64
 11  coordinates                3 non-null      object
 12  in_reply_to_user_id        1 non-null      float64
 13  contributors               0 non-null      float64
 14  place                      341 non-null    object
 15  in_reply_to_status_id_str  0 non-null      float64
 16  retweeted                  1018 non-null   bool
 17  lang                       1018 non-null   object
 18  favorite_count             1018 non-null   int64
 19  in_reply_to_screen_name    1 non-null      object
 20  in_reply_to_status_id      0 non-null      float64
 21  retweeted_status           100 non-null    object
 22  id_str                     1018 non-null   int64
 23  retweet_count              1018 non-null   int64
 24  possibly_sensitive         533 non-null    float64
 25  extended_entities          159 non-null    object
 26  quoted_status_id_str       19 non-null     float64
 27  quoted_status_id           19 non-null     float64
 28  quoted_status              17 non-null     object
dtypes: bool(4), datetime64[ns, UTC](1), float64(8), int64(4), object(12)
memory usage: 202.9+ KB
None
                   id  ... quoted_status
0  815449933453127681  ...           NaN
1  815449868739211265  ...           NaN
2  815433444591304704  ...           NaN
3  815433217595547648  ...           NaN
4  815432169464197121  ...           NaN

[5 rows x 29 columns]