In [1]:
# Instructors:
# This module is for the student ONLY and is not evaluated during the test development phase
# Run "Preview" mode if you want to test this as if you were a student

# Students:
# Please follow the challenge instructions and enter your code below to be evaluated...

# import necessary packages/libraries
import pandas as pd

# import the data
projects_df = pd.read_csv("https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-analytics-bootcamp/ksprojects.csv")

# 1. Get and print the number of rows and columns in the DataFrame

shape_df = projects_df.shape
print(shape_df)

# 2. Get and print the names and data types of the DataFrame
info_df = projects_df.info()
print(info_df)

# 3. Check for any null values and print it out
null_df = projects_df.isna().sum()
print(null_df)

# 4. Create a crosstab to get a count of records for each combination state and category.
cross_df = pd.crosstab(projects_df.state, projects_df.category)
print(cross_df)

(65350, 13)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65350 entries, 0 to 65349
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             65350 non-null  int64
 1   name           65350 non-null  object
 2   category       65350 non-null  object
 3   main_category  65350 non-null  object
 4   deadline       65350 non-null  object
 5   goal           65350 non-null  float64
 6   launched       65350 non-null  object
 7   state          65350 non-null  object
 8   backers        65350 non-null  int64
 9   country        65350 non-null  object
 10  usd_pledged    64605 non-null  float64
 11  currency       65350 non-null  object
 12  pledged        65350 non-null  float64
dtypes: float64(3), int64(2), object(8)
memory usage: 6.5+ MB
None
id                 0
name               0
category           0
main_category      0
deadline           0
goal               0
launched           0
state              0
backers            0
country            0
usd_pledged      745
currency           0
pledged            0
dtype: int64
category    3D Printing  Academic  Accessories  ...  World Music  Young Adult  Zines
state                                           ...
canceled             17        21           48  ...           31           16      6
failed               59        86          238  ...          174           78     26
live                  3         3           16  ...            2            1      1
successful           43        43          121  ...          168           23     17
suspended             2         4            2  ...            1            0      0
undefined             1         0            1  ...            0            0      0

[6 rows x 158 columns]